<!-- name link -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Email template</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700&display=swap"
        rel="stylesheet">
</head>

<body bgcolor="#FFFFFF" style="font-family: 'Cabin', sans-serif;">
    <table class="body-wrap" style="width: 100%;">
        <tr>
            <td></td>
            <td class="container" bgcolor="#FFFFFF">

                <div
                    style="padding:80px;max-width:550px;min-width:550px;margin:0 auto;display:block;background-image: url(https://drawbridge-dev.s3.amazonaws.com/fileData_1579674971836_bg1.png)">
                    <table>
                        <tr>
                            <td>
                                <div
                                    style="background: white;border-radius: 8px;box-shadow: 0px 0px 20px rgba(0,0,0,0.16);padding: 50px;">
                                    <p style="margin:12px 0px 20px 0px;text-align:center"><img src="" alt="DanceParty">
                                    </p>
                                    <p style="color:#818BA0;font-size: 21px;font-weight:700"><b>Hi <%=name%>,</b>
                                    </p>
                                    <p style="font-size: 21px;font-weight:700;;color: #000"> <b>It’s time to change your
                                            password.</b></p>
                                    <p
                                        style="font-weight: 400;color:#818BA0;font-size: 19px;margin: 0;padding:0px 0 40px 0">
                                        We were told that you forgot your Dance party account password.</p>

                                    <a href="<%=link%>"
                                        style="background: #0D9CD8;color:#818BA0;padding: 12px 30px;border-radius: 4px;color: #fff;font-weight: 600;text-decoration: none">Click
                                        here to reset your password</a>
                                    <p
                                        style="font-weight: 400;color:#818BA0;font-size: 19px;margin: 0;padding:44px 0 0 0">
                                        If you don’t know why you got this email, please</p>
                                    <p
                                        style="font-weight: 400;padding:0px 0px 34px;color:#818BA0;font-size: 19px;margin: 7px 0;">
                                        tell us straight away so we can fix this for you.</p>
                                    <hr />
                                    <p style="color:#818BA0;font-size: 21px;font-weight:700;margin: 30px 0 0;">
                                        <b>Thanks,</b></p>
                                    <p style="color:#818BA0;font-size: 21px;font-weight:700;margin: 7px 0"><b>The
                                            Dance party Team</b></p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</body>

</html>